@model WMS_Demo.Models.Item

@{
    ViewData["Title"] = "Cập nhật vật tư";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card card-industrial">
            <div class="card-header bg-warning text-dark border-bottom-0">
                <h4 class="mb-0"><i class="fa-solid fa-pen-to-square me-2"></i>Cập nhật thông tin: @Model.Code</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row g-3">
                        <div class="col-md-6">
                           <label asp-for="Code" class="form-label fw-bold"> Mã SKU</label>
                            <input asp-for="Code" readonly class="form-control rounded-0" />
                            <span asp-validation-for="Code" class="text-danger small"></span>
                            
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Unit" class="form-label fw-bold">Đơn vị tính</label>
                            <input asp-for="Unit" class="form-control rounded-0" />
                            <span asp-validation-for="Unit" class="text-danger small"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="Name" class="form-label fw-bold">Tên vật tư</label>
                            <input asp-for="Name" class="form-control rounded-0" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="SafetyStock" class="form-label fw-bold">Mức an toàn</label>
                            <input asp-for="SafetyStock" class="form-control rounded-0" />
                            <span asp-validation-for="SafetyStock" class="text-danger small"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="form-label fw-bold">Hiện đang có</div>
                            <span class=" form-control rounded-0 @(Model.CurrentStock < @Model.SafetyStock ? "text-danger" :"text-success")">@Model.CurrentStock</span>                   
                        </div>
                         <div class="col-md-6">
                            <div class="form-label fw-bold">Đơn giá bình quân</div>
                            <span class=" form-control rounded-0 ">@Model.CurrentCost</span>                   
                        </div>
                    </div>

                    <div class="mt-4 pt-3 border-top text-end">
                        <a asp-action="Index" class="btn btn-secondary btn-industrial me-2">Hủy bỏ</a>
                        <button type="submit" class="btn btn-warning btn-industrial fw-bold">Cập nhật ngay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}